<footer>
    <div class="topo">
        <div class="layout">
            <div class="coluna">
                <a href="#" class="logo"><img src="/assets/img/logo-controlook.png" alt="Logo Controlook"></a>
                <p>Um sistema específico com as melhores soluções para a organização da membresia com a mais eficaz gestão financeira para as Igrejas.</p>
            </div>
            <div class="coluna">
                <p class="titulo">Controlook</p>
                <ul>
                    <li>
                        <a href="https://controlook.com/sistema-gestao-igrejas">Quem Somos</a>
                    </li>
                    <li>
                        <a href="https://controlook.com/funcionalidades">Funcionalidades</a>
                    </li>
                    <li>
                        <a href="https://controlook.com/planos-e-precos">Planos e Preços</a>
                    </li>
                    <li>
                        <a href="https://controlook.com/quero-receber-uma-ligacao">Quero receber uma ligação</a>
                    </li>
                    <li>
                        <a href="https://controlook.com/contato">Fale Conosco</a>
                    </li>
                    <li>
                        <a href="https://sys.controlook.com/signup">Cadastre-se</a>
                    </li>
                </ul>
            </div>
            <div class="coluna">
                <p class="titulo">Redes Sociais</p>
                <ul class="social">
                    <li><a class="facebook" href="https://www.facebook.com/controlook" target="_blank"><i class="fab fa-facebook"></i></a></li>
                    <li><a class="youtube" href="https://www.youtube.com/channel/UCAOxhAI7iT9sSEoSaJ9ZRew" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    <li><a class="twitter" href="https://twitter.com/controlook" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a class="instagram" href="https://www.instagram.com/ControlookBrasil" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a class="medium" href="https://www.medium.com/@controlook" target="_blank"><i class="fab fa-medium-m"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="layout">
            <p>&copy; 2018 - <a class="termo-uso" href="termos-uso">Termos de Uso e Política de Privacidade</a></p>
        </div>
    </div>
</footer>

<div class="modal-box" id="menu">
    <a href="#" class="fechar"><i class="fas fa-times"></i></a>
    <a href="#" class="logo"><img src="/assets/img/logo-controlook.png" alt="Logo Controlook"></a>
    <nav>
        <ul>
            {% for category in site.data.categories %}
            <li><a href="/{{category.slug}}">{{ category.name }}</a></li>
            {% endfor %}
            <li class="cta"><a href="https://sys.controlook.com/signup" class="botao verde">Cadastre-se</a></li>
        </ul>
    </nav>
</div>

<script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="/assets/js/vendor/jquery-3.2.1.min.js"></script>
<script src="/assets/js/main.js"></script>