<!--[if lte IE 9]>
    <p class="browserupgrade">Você esta utilizado um <strong>navegador ultrapassado</strong> . <a href="https://browsehappy.com/">Atualize seu navegador</a> Para ter mais segurança e uma melhor experiencia navegando pela internet.</p>
<![endif]-->

<header>
    <div class="layout">
        <a href="/index" class="logo"><img src="/assets/img/logo-controlook.png" alt="Logo Controlook"></a>
        <nav class="desktop menu">
            <ul>
                <!-- <li><a href="/materiais-educativos">Materiais Educativos</a></li> -->
                <li class="has-dropdown">
                    <a href="#">Categorias</a>
                    <ul>
                        <!-- <li><a href="/category/financeiro">Financeiro</a></li> -->
                        <li><a href="/category/cultura-controlook">Cultura Controlook</a></li>
                        <li><a href="/category/gestao-igrejas">Gestão de Igrejas</a></li>
                        <li><a href="/category/juridico">Jurídico</a></li>
                    </ul>
                </li>
                <li class="cta"><a href="https://www.controlook.com" class="botao verde">Conheça o Controlook</a></li>
            </ul>
        </nav>
        <a href="#" class="botao-responsivo modal-trigger mobile" data-id="menu"><i class="fas fa-bars"></i></a>
    </div>
</header>

{{ site.domain}}